{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div>
            <h4><small>RECENT POSTS</small></h4>
            <hr>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <h5><span class="glyphicon glyphicon-time"></span> {{ post.author }}, {{ post.published_date }}.</h5>
            <h5><span class="label label-success">News</span></h5><br>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        <br>
    {% endfor %}
{% endblock %}